@media (max-width: 800px) {
    .work-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* Centraliza textos dentro do container */
        gap: 1.5rem;
    }

    .work-title {
        font-size: 2.95rem;
        line-height: 2.8rem;
        margin-left: 0.5rem !important;
        width: 100vw !important;
        text-align: left;
    }

    .work-description p {
        width: 95vw !important;
        text-align: justify;
        margin-left: 0.5rem !important;
        margin-top: 1.5rem !important;
        font-size: 1.4rem;
    }

    h4 {
        width: 100vw !important;
        text-align: justify;
        margin-left: 0.5rem !important;
        margin-top: 1.5rem !important;
        font-size: 1rem;
    }

    .work-img {
        width: 90vw;
        margin: 0 auto !important;
    }

    .gif {
        width: 100vw !important;
        padding: 0 !important;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        margin-bottom: 0rem !important;
    }
}