* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background: #D9A441;
    /* rosa destaque */
    color: #fefefe;
    /* branco leitoso */
}


html,
body {
    height: auto;
    width: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
    background: #1F8C3A;
}

nav {
    width: 100vw;
    height: 8vh;
    top: 0;
    left: 0;
    background-color: #1F8C3A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: #FFFFFF;
    font-family: 'Lora', sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
}

.back-btn img {
    width: 2vw;
    height: auto;
    transition: transform 0.3s ease, opacity 0.2s ease;
}

.back-btn:hover img {
    transform: translateX(-0.2vw);
    opacity: 0.8;
}


.work-title {
    width: 46vw;
    font-size: 4.4em;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-top: 0rem;
    color: #FFFFFF;
    font-family: 'Lora', sans-serif;
    font-weight: 800;
    letter-spacing: -0.06em;
    line-height: 4rem;
}

.work-description p {
    width: 45vw;
    font-size: 1.44rem;
    margin-left: 2rem;
    margin-top: 1.1rem;
    color: #F5F5F5;
    font-family: 'inter', sans-serif;
    font-weight: 400;
}

h4 {
    font-size: 0.9rem;
    margin-left: 2rem;
    margin-top: 1.6rem;
    color: rgb(230, 230, 230);
    font-family: 'inter', sans-serif;
    font-weight: 400;
    letter-spacing: -0.04em;
}

.work-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    /* para ser responsivo */
    gap: 2rem;
}

.work-img {
    width: 29vw;
    height: auto;
    margin-right: 2rem;
    margin-top: 0rem;

}

.container {
  display: inline-block; 
  border-radius: 3rem;  
  box-shadow: 0 0px 0.8rem rgba(0, 0, 0, 0.397); 
  overflow: hidden;      
  margin-left: 2rem;
  margin-right: 2rem;
}

.gif {
  display: block;
  border-radius: 3rem; 
  width: 100vw;        
  height: auto;
}

